*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

main {
	width: 960px;
	margin: 50px auto;
}

.main-box{
	width: 300px;
	margin-right: 30px;
	padding: 10px;
	position: relative;
	border: 1px solid #eee;
	float: left;
}

.main-box:last-child{
	margin-right: 0;
}

.box-img1{
	height: 150px;
	background-image: url(img9/flow01.png);
	background-size: cover;
	background-position: bottom;

}

.box-img2{
	height: 150px;
	background-image: url(img9/flow02.png);
	background-size: cover;
	background-position: bottom;
}

.box-img3{
	height: 150px;
	background-image: url(img9/flow03.png);
	background-size: cover;
	background-position: bottom;
}

.box-num{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ff9a4b;
	color: #fff;
	padding: 3px;
}

.title{
	margin: 15px 0 5px;
}


@media screen and (max-width: 768px){
	main {
	width: 100%;
	margin: 50px auto;
	}
	.main-box {
	float: none;
	width: 90%;
	margin-bottom: 20px;
	}
	.main-box:last-child{
	margin-bottom: 0;
	}
.box-img1{
	height: 300px;
}

.box-img2{
	height: 300px;
}

.box-img3{
	height: 300px;
}
}